{% extends 'header.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    <h3 class="text-center">Registro de usuario</h3>
                </div>
                <div class="card-body">
                    {% if show_message %}
                    <div class="alert alert-success text-center" role="alert">
                        ¡Usuario creado con éxito! Serás redirigido a la página de inicio de sesión en breve.
                    </div>
                    <script>
                        setTimeout(function() {
                            window.location.href = "{% url 'login' %}";
                        }, 2000); // 2000 ms = 2 segundos
                    </script>
                    {% else %}
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-dark btn-block mt-3">Registrarse</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
